{
	"presets": [
		["env", {
			"modules": false,
			"targets": {
				"browsers": [
					"last 2 versions",
					"> 1%"
				]
			}
		}]
	],
	"plugins": [
		"transform-runtime",
		"syntax-dynamic-import",
		"transform-object-rest-spread"
	]
}
